<tr class="ds-module-wrapper-tag <%= ds_module.tag_list.collect { |t| "ds-module-tag-" + t }.join(" ") %>" >
  <td class="ds_module">
	<span class="content" ><%= link_to ds_module.name, ds_module %></span>
	<span class="version" >Version: <%= ds_module.version %></span>
	<span class="timestamp" >
	  Uploaded <%= time_ago_in_words(ds_module.created_at) %> ago.
	</span>
  </td>
</tr>

