
 
<div id="masonry-container" class="clearfix">

<% @images.each do |image| %>
<div class="box col3">
<%= link_to "<img src=\"#{image[0]}\">".html_safe, ds_module_path(image[1])  %>
</div>
<% end %>

</div> <!-- #masonry-container -->

<%= javascript_include_tag "jquery.masonry.min" %>

<script>
$(function() {

var $container = $('#masonry-container');

$container.imagesLoaded( function(){
  $container.masonry({
    itemSelector : '.box'
  });
});

});

</script>
