<h1>All users</h1>

<table class="front"> 

<tr>
	<td class="sidebar round">
	  <% User.all.each do |user| %>
	  <%= render 'shared/user_info', :displayed_user => user %><br />
	  <% end %>
	</td>
<tr>

</table>

