
<div class="user_info" >
  <a href="<%= user_path(displayed_user) %>">
	<%= image_for(displayed_user, 30) %>
	<span class="user_name" >
	  <%= displayed_user.name %>
	</span>
	<span class="ds_modules">
	  <%= pluralize(displayed_user.ds_modules.count, "DesignScript Module") %>
	</span>
  </a>
</div>



