<h1>Help</h1>
<p>A few quick notes:</p>
<ul><li>You can only upload one file at a time at the moment. If you have several files or a .dll library in addition to the file, zip the contents and upload the zip.</li>
<li>The documentation field accepts text in the <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a> format. Use markdown links, images, and lists to create links, images, and lists. All html is stripped out.</li>
</ul>

<p>More coming soon. In the meantime, contact the individuals on the contact page.</p>

