
<% if signed_in? %>
<table class=" front" summary="For signed-in users">
  <tr>
	<td class="main">
	  <h1 class="ds_module">Latest Modules</h1>
		<%= render 'shared/all_ds_modules' %>
	</td>
	<td class="sidebar round">
	  <% User.all.each do |user| %>
	  <%= render 'shared/user_info', :displayed_user => user %><br />
	  <% end %>
	</td>
  </tr>
</table>
<% else %>
	<p>DSAN is invite-only at the moment. Please sign in if you have an account</p>
	<%= link_to "Sign in", signin_path %>
<% end %>


